.product_img {
  width: 100%;
  height: 500px;
  margin-bottom: 300px;
}

.product_flex {
  display: flex;
}

.review_flex {
  display: flex;
}

.qna_flex {
  display: flex;
}

.review_button {
  text-align: right;
}
.widthpadding {
  width: 5px;
}

.heightpadding {
  height: 60px;
}
