.banner {
  max-width: 100%;
  height: 100%;
}

.mainBody {
  max-width: 300px;
  height: 300px;
}

.line {
  height: 1.2px;
  background-color: black;
}

.padding_size60 {
  height: 60px;
}

.shop_font {
  font-size: 24px;
  font-style: initial;
}

.img__ {
  width: 80%;
  margin-bottom: 20px;
}

.center {
  text-align: center;
  margin-right: 100px;
  margin-bottom: 50px;
}

.padding_size20 {
  height: 100px;
}
